In [1]:
import pandas as pd
import datetime

# The first Jupyter notebook was only working with data from 1976-2015. This notebook extends the analysis to 2022. 
## Preparing dataframes for analysis

In [2]:
df = pd.read_csv("crossword_year_2022.csv")
df.drop('Unnamed: 0', inplace=True, axis=1)
df

,crossword_date,answers,clues,crossword_year
0,2022-01-01,WINNER,First person?,2022
1,2022-01-01,PLANBS,Backups,2022
2,2022-01-01,WHOOPI,First name in daytime talk,2022
3,2022-01-01,MAOSUIT,Red Guard's attire,2022
4,2022-01-01,IAMBIC,"Like ""To be or not to be""",2022
...,...,...,...,...
15765,2022-07-08,STOAT,Source of some fur,2022
15766,2022-07-08,KONA,Hawaii's ___ Coast,2022
15767,2022-07-08,FELL,Cut down,2022
15768,2022-07-08,ERRS,Isn't right,2022
15769,2022-07-08,DEI,___ Fratelli (tomato sauce brand),2022

In [4]:
df2 = pd.read_csv("slangtill2015.csv")
df2.drop('Unnamed: 0', inplace = True, axis =1)
df3 = df2.append(df, ignore_index=True)
df3

,crossword_date,answers,clues,crossword_year
0,1976-01-05,AJAX,Greek hero,1976
1,1976-01-05,WHOOP,Loud cry,1976
2,1976-01-05,CRAB,Peevish person,1976
3,1976-01-05,BALI,Romantic isle,1976
4,1976-01-05,HEAVE,Lift,1976
...,...,...,...,...
240765,2022-07-08,STOAT,Source of some fur,2022
240766,2022-07-08,KONA,Hawaii's ___ Coast,2022
240767,2022-07-08,FELL,Cut down,2022
240768,2022-07-08,ERRS,Isn't right,2022
240769,2022-07-08,DEI,___ Fratelli (tomato sauce brand),2022

### df_answers_clues is a dataframe with XW puzzle data from 1976 - 2022 (June)
To reduce the load/scrape time, I only included three columns: answers, clues and crossword date. But several other attributes are available for analysis

In [6]:
df_2018 = pd.read_csv("crossword_year_2015_2021.csv")
df_2018.drop('Unnamed: 0', inplace=True, axis=1)
df_answers_clues = df_2018.append(df3, ignore_index=True)
df_answers_clues = df_answers_clues.sort_values('crossword_year').drop_duplicates()
df_answers_clues

,crossword_date,answers,clues,crossword_year
226571,1976-06-16,WEEDY,Like a neglected lawn,1976
233337,1976-09-02,OMANI,Muscat native,1976
233336,1976-09-02,ARS,___ poetica,1976
233335,1976-09-02,ICAME,"What ""veni"" means",1976
233334,1976-09-02,SAWIN,Greeted at the door,1976
...,...,...,...,...
442635,2022-03-04,KAT,Kit ___ bar,2022
442636,2022-03-05,MOSS,Much of Iceland's greenery,2022
442637,2022-03-05,PROVEIT,"""I don't believe you""",2022
442639,2022-03-05,FRIENDLYBANTER,Needle exchange?,2022
453143,2022-07-08,DEI,___ Fratelli (tomato sauce brand),2022

### Slang is a dataframe that I created with most of the words NYT editors considered slang. 

Modifiers in the clue that I used to collect these words are:
colloquially, modern lingo, slang, informally, slangily, in texts (expanded the list to include texts)

In [7]:
slang = df_answers_clues[df_answers_clues['clues'].str.contains('in texts', regex=False) |df_answers_clues['clues'].str.contains('colloquially', regex=False) |df_answers_clues['clues'].str.contains('modern lingo', regex=False) | df_answers_clues['clues'].str.contains('slang', regex=False) | df_answers_clues['clues'].str.contains('informally', regex=False) | df_answers_clues['clues'].str.contains('slangily', regex=False)]
slang

,crossword_date,answers,clues,crossword_year
252416,1977-04-10,LEGGO,"68 Across, slangily",1977
284758,1978-04-21,SCHMO,"Sap, in slanguage",1978
286369,1978-05-09,OKAY,"Concurrence, colloquially",1978
281906,1978-03-19,LIBBER,"Feminist, colloquially",1978
316788,1979-07-26,BLUES,"Navy uniform, informally",1979
...,...,...,...,...
442445,2022-03-02,DJS,"Club workers, informally",2022
442531,2022-03-03,SESH,"Meeting, informally",2022
442345,2022-03-01,ALUMS,"Reunion attendees, informally",2022
442396,2022-03-01,BRB,"""Hang on a sec,"" in texts",2022
442629,2022-03-04,ALTS,"Secondary social media accounts, informally",2022

<b> Tracking the lineage of a term's definition by looking at XWord Clues across time </b><br/>
Playground section:

In [8]:
frequent_answers = df_answers_clues[df_answers_clues['answers'] == 'UNPACK']
frequent_answers

,crossword_date,answers,clues,crossword_year
162783,2020-05-15,UNPACK,"Work through, as feelings",2020
189727,2021-04-04,UNPACK,"Emotionally process, in modern lingo",2021
192124,2021-05-02,UNPACK,Take care of some personal baggage,2021
448581,2022-05-15,UNPACK,"Attempt to grasp, as a complicated situation",2022

<b> How modern is Shortz's modern slang? </b>
<br/> Looking at the answers (slang terms) that he described as modern

In [9]:
slang = df_answers_clues[df_answers_clues['clues'].str.contains('modern lingo', regex=False) | df_answers_clues['clues'].str.contains('modern slang', regex=False)]
slang.to_csv("modern_slang.csv")